images/*
images.tar
dog_images
dog_images_formatted
env

data/dog_classifier_model.h5
data/dog_classifier_model.tflite

output.log

__pycache__
venv

config

fullsized.jpg
cropped.jpg
padded.jpg

fullsized_test.jpg
cropped_test.jpg
padded_test.jpg

frigateclassifier.log