images/*
images.tar
dog_images
dog_images_formatted

output.log

__pycache__
venv

config

fullsized.jpg
cropped.jpg
padded.jpg

fullsized_test.jpg
cropped_test.jpg
padded_test.jpg

frigateclassifier.log